@klab 0.10.0
@version 0.10.0

spatialextent space
	"Generates spatial geographical extents to use in observations or to constrain models. Parameters
	 enable the creation of single shapes using WKT and WKB notation, as well as regular grids and
	 irregular spatial tessellations with shape masks."
{
	optional input shape
		"A string containing the WKT or WKB definition of a geographical shape, optionally 
		 prefixed with the EPSG projection code including the authority (the default projection
		 is 'EPSG:4326')."
	    default ""
	
	optional input grid 
		"A string specifying the linear resolution of the desired grid as a number with length
		 units. Example: '1 km'."
		default ""
		
	class org.integratedmodelling.klab.components.geospace.services.Space
}