@namespace gis
@klab 0.10.0
@version 0.10.0

number terrain 
	"The terrain function generates a random fractal surface that can be parameterized to
	 realistically mimic various patterns of the Earth surface, such as elevation or slope."
{
	optional input roughness
		"The roughness parameter controls the smoothness of the surface produced. Values 
	     around 0.35 (default) best simulate elevation, while rougher surfaces are best 
         for slope."
		default 0.37
	
	optional input detail 
		"The detail parameter controls the complexity of the surface. A value around 5 (default)
         best simulates elevation."
		default 5
	
	optional input range
		"The range parameter controls the range of values produced. By default the values
         range from 0 to 3000, a range that produce realistic-looking elevation profiles in
         meters."
		default 0 to 3000
		
	/*
	 * produces 2d grid data, init only
	 */
	geometry S2
	
	class org.integratedmodelling.klab.components.geospace.services.TerrainService

}