/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace reason

/**
 * Help
 */
void children
	"List the asserted or inferred hierarchy of a concept."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.ShowChildren
}

void parents
	"List the semantic closure of a concept."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.ShowParents
}

void type
	"List the enum types for a concept."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.ShowType
}

void traits
	"List the traits for a concept."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.ShowTraits
}

void restrictions
	"List the OWL restrictions for a concept."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.ShowRestrictions
}

void compare
	"Cross-compare a set of concepts for specificity and compatibility."
{
	class org.integratedmodelling.klab.clitool.console.commands.reason.Compare
}

//annotation run for observers
//	"Mark a context for batch execution, specifying the observations to be made in it."
//{
//	optional input name 
//		"A name for this run. If given, the results will be saved in a subdirectory
//        of the same name." 
//		default ""
//	
//	optional input description 
//		"A description for this run, its parameters and intended outputs."
//		default ""
//			
//	optional input observations
//		"A list of the concepts or objects to observe in the context after it is resolved."
//		default ()
//		
//	class org.integratedmodelling.klab.engine.apps.AppRunner
//}

