<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.integratedmodelling.org/kdl/Kdl"
			class = "org.integratedmodelling.kdl.kdl.KdlPackage"
			genModel = "model/generated/Kdl.genmodel" />
	</extension>
</plugin>
