/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace doc

void 'list'
	"Print documentation views in source form."
{
	optional boolean json
		"Output JSON instead of structured text format"
		default false
		
	class org.integratedmodelling.klab.clitool.console.commands.doc.List
}



