@klab 0.10.0
@version 0.10.0
@namespace kbox

void 'list'
	"List the models in the local kbox."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
	
	class org.integratedmodelling.klab.clitool.console.commands.kbox.List
}

void 'compatible'
	"List the available observables that are compatible with the passed semantics."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
	
	class org.integratedmodelling.klab.clitool.console.commands.kbox.Compatible
}


void 'coverage'
	"List the coverage of either a model or all the models that resolve a concept."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
	
	class org.integratedmodelling.klab.clitool.console.commands.kbox.Coverage
}
