/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace kim

void analyze
	"Analyze an expression in the k.IM default language and describe the results."
{
	class org.integratedmodelling.klab.clitool.console.commands.kim.Analyze
}



