@klab 0.10.0
@version 0.10.0
@namespace model

void 'list'
	"List the models in the local kbox."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
	
	class org.integratedmodelling.klab.clitool.console.commands.model.List
}

void 'compatible'
	"List the available observables that resolve the passed observable."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
		
	optional text context 
		"The context of resolution"
		
	class org.integratedmodelling.klab.clitool.console.commands.model.Compatible
}

void 'coverage'
	"List the coverage of either a model or all the models that resolve a concept."
{
	
	optional boolean verbose
		"Verbose output: list model details"
		default false
	
	class org.integratedmodelling.klab.clitool.console.commands.model.Coverage
}

void 'info'
	"Print detailed information about a model and its observables."
{
	class org.integratedmodelling.klab.clitool.console.commands.model.Info
}

void 'compute'
	"Compute all observation strategies for the passed observable and print them."
{
		
	optional text context 
		"The context of resolution"

	class org.integratedmodelling.klab.clitool.console.commands.model.Compute
}