/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace unit

void info
	"Print useful information and k.IM bindings for a resource."
{
	class org.integratedmodelling.klab.clitool.console.commands.unit.Info
}

void contextualize
	"Print useful information and k.IM bindings for a resource."
{
	class org.integratedmodelling.klab.clitool.console.commands.unit.Contextualize
}

void split
	"Split a unit into a non-extentual part and an extentual part. Pass the unit and 
	 the extent (AREAL,VOLUMETRIC,LINEAL or TEMPORAL)"
{
	class org.integratedmodelling.klab.clitool.console.commands.unit.Split
}

void reason
	"Analyze the units for an observable and report."
{
	class org.integratedmodelling.klab.clitool.console.commands.unit.Reason
}
