/**
 * Interface contextualizers for Weka functions.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.weka

abstract value classifier {		
	optional text resource 
		"ID of the local resource containing the trained model"
		
	// TODO all common parameters
}

export value bayesnet extends wekaclassifier
	""
	label 'WEKA BayesNet'
{		
	class org.integratedmodelling.ml.contextualizers.BayesNetResolver
}

export value randomforest extends wekaclassifier
	""
	label 'WEKA Random Forests'
{		
	// class org.integratedmodelling.ml.weka.BayesNetResolver
}