<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.integratedmodelling.klab.ide.navigator.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.navigator.e3.KlabNavigator"
            icon="icons/k-lab-icon-16.gif"
            id="org.integratedmodelling.thinkcap.ide.navigator"
            name="k.LAB Navigator"
            restorable="true">
      </view>
      <category
            id="org.integratedmodelling.klab.ide.category"
            name="k.LAB">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
         <includes>
            <contentExtension
                  pattern="org.integratedmodelling.klab.ide.navigator.navigatorContent1">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.integratedmodelling.klab.ide.navigator.e3.TreeContentProvider"
            id="org.integratedmodelling.klab.ide.navigator.navigatorContent1"
            labelProvider="org.integratedmodelling.klab.ide.navigator.e3.ViewerLabelProvider"
            name="k.LAB model">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimStatement">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
</plugin>
