<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.navigator.e3.KlabNavigator"
            icon="icons/k-lab-icon-16.gif"
            id="org.integratedmodelling.thinkcap.ide.navigator"
            name="k.LAB Navigator"
            restorable="true">
      </view>
      <category
            id="org.integratedmodelling.klab.ide.category"
            name="k.LAB">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
         <includes>
            <contentExtension
                  pattern="org.integratedmodelling.klab.ide.navigator.navigatorContent1">
            </contentExtension>
		    <contentExtension pattern="org.integratedmodelling.klab.ide.navigator.linkHelper1"/>
            </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.integratedmodelling.klab.ide.navigator.e3.TreeContentProvider"
            id="org.integratedmodelling.klab.ide.navigator.navigatorContent1"
            labelProvider="org.integratedmodelling.klab.ide.navigator.e3.ViewerLabelProvider"
            name="k.LAB model"
            sortOnly="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimNamespace">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimModel">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimObserver">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimConceptStatement">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimNamespace">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimModel">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimObserver">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimConceptStatement">
               </instanceof>
            </or>
         </possibleChildren>     
		</navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.integratedmodelling.klab.ide.navigator.e3.LinkHelper"
            id="org.integratedmodelling.klab.ide.navigator.linkHelper1">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
           <or>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimNamespace">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimModel">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimObserver">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.kim.api.IKimConceptStatement">
               </instanceof>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         id="org.integratedmodelling.klab.ide.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            id="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            name="k.LAB">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.RuntimeView"
            id="org.integratedmodelling.klab.ide.views.RuntimeView"
            name="k.LAB Runtime">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ContextView"
            id="org.integratedmodelling.klab.ide.views.ContextView"
            name="Context"
            restorable="true">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ResourcesView"
            id="org.integratedmodelling.klab.ide.views.ResourcesView"
            name="Resources">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.SearchView"
            id="org.integratedmodelling.klab.ide.views.SearchView"
            name="Knowledge Search">
      </view>
   </extension>

</plugin>
