<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.integratedmodelling.klab.ide.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            id="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            name="k.LAB">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.RuntimeView"
            id="org.integratedmodelling.klab.ide.views.RuntimeView"
            name="k.LAB Runtime">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ContextView"
            id="org.integratedmodelling.klab.ide.views.ContextView"
            name="Context"
            restorable="true">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ResourcesView"
            id="org.integratedmodelling.klab.ide.views.ResourcesView"
            name="Resources">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.SearchView"
            id="org.integratedmodelling.klab.ide.views.SearchView"
            name="Knowledge Search">
      </view>
   </extension>

</plugin>
