<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.navigator.e3.KlabNavigator"
            icon="icons/k-lab-icon-16.gif"
            id="org.integratedmodelling.thinkcap.ide.navigator"
            name="k.LAB Navigator"
            restorable="true">
      </view>
      <category
            id="org.integratedmodelling.klab.ide.category"
            name="k.LAB">
      </category>
   </extension>
   <extension
         id="klabBuilder"
         name="k.LAB builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.integratedmodelling.klab.ide.builder.KlabBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="klabNature"
         name="k.LAB Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.integratedmodelling.klab.ide.builder.KlabNature">
         </run>
      </runtime>
      <builder
            id="org.integratedmodelling.klab.ide.klabBuilder">
      </builder>
   </extension>
   <extension
         id="org.integratedmodelling.thinkcap.ide.navigator"
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
         <includes>
            <contentExtension
                  pattern="org.integratedmodelling.klab.ide.navigator.navigatorContent1">
            </contentExtension>
		    <contentExtension pattern="org.integratedmodelling.klab.ide.navigator.linkHelper1"/>
            </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="org.integratedmodelling.thinkcap.ide.navigator">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.integratedmodelling.klab.ide.navigator.e3.TreeContentProvider"
            id="org.integratedmodelling.klab.ide.navigator.navigatorContent1"
            labelProvider="org.integratedmodelling.klab.ide.navigator.e3.ViewerLabelProvider"
            name="k.LAB model"
            sortOnly="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.klab.ide.navigator.model.ENavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.integratedmodelling.klab.ide.navigator.model.ENavigatorItem">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="org.integratedmodelling.klab.ide.navigator.e3.KlabViewerComparator">
         </commonSorter>
         <actionProvider
               class="org.integratedmodelling.klab.ide.navigator.e3.KlabNavigatorActionProvider">
         </actionProvider>
         <dropAssistant
               class="org.integratedmodelling.klab.ide.navigator.e3.KlabDropAssistant"
               id="org.integratedmodelling.klab.ide.dropAssistant1">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>     
		</navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.integratedmodelling.klab.ide.navigator.e3.LinkHelper"
            id="org.integratedmodelling.klab.ide.navigator.linkHelper1">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.integratedmodelling.klab.ide.navigator.model.ENavigatorItem">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         id="org.integratedmodelling.klab.ide.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            icon="icons/k-lab-icon-16.gif"
            id="org.integratedmodelling.klab.ide.perspective.KlabPerspective"
            name="k.LAB">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.RuntimeView"
            icon="icons/runtime.gif"
            id="org.integratedmodelling.klab.ide.views.RuntimeView"
            name="k.LAB Runtime">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ContextView"
            icon="icons/subjectObservation.gif"
            id="org.integratedmodelling.klab.ide.views.ContextView"
            name="Context"
            restorable="true">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ResourcesView"
            icon="icons/Database.png"
            id="org.integratedmodelling.klab.ide.views.ResourcesView"
            name="Resources">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.SearchView"
            icon="icons/search.gif"
            id="org.integratedmodelling.klab.ide.views.SearchView"
            name="Knowledge Search">
      </view>
      <view
            allowMultiple="true"
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.ResourceEditor"
            icon="icons/resource.gif"
            id="org.integratedmodelling.klab.ide.views.ResourceEditor"
            name="Resource editor">
      </view>
      <view
            allowMultiple="true"
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.DocumentationEditor"
            icon="icons/documentation.gif"
            id="org.integratedmodelling.klab.ide.views.DocumentationEditor"
            name="Documentation editor">
      </view>
      <view
            category="org.integratedmodelling.klab.ide.category"
            class="org.integratedmodelling.klab.ide.views.SpatialReferenceView"
            id="org.integratedmodelling.klab.ide.views.SpatialReferenceView"
            name="Geolocation">
      </view>
      <view
            class="org.integratedmodelling.klab.ide.views.ReferencesEditor"
            id="org.integratedmodelling.klab.ide.views.ReferencesEditor"
            name="References editor">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Add/Remove k.LAB Project Nature"
            defaultHandler="org.integratedmodelling.klab.ide.builder.AddRemoveKlabNatureHandler"
            id="org.integratedmodelling.klab.ide.builder.addRemoveKlabNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.integratedmodelling.klab.ide.builder.addRemoveKlabNature"
               label="Disable k.LAB builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="org.integratedmodelling.klab.ide.klabNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.integratedmodelling.klab.ide.builder.addRemoveKlabeNature"
               label="Enable k.LAB builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="org.integratedmodelling.klab.ide.klabNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="klabProblem"
         name="k.LAB Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.integratedmodelling.klab.ide.KlabApplicationLauncher"
            icon="icons/k-lab-icon-16.gif"
            id="org.integratedmodelling.klab.ide.klabApp"
            label="k.LAB Application"
            modes="org.integratedmodelling.klab.ide.klabApp,org.integratedmodelling.klab.ide.klabTest,,org.integratedmodelling.klab.ide.klabCalibration">
         <contextualLaunch>
            <contextLabel
                  label="Application"
                  mode="org.integratedmodelling.klab.ide.klabApp">
            </contextLabel>
            <contextLabel
                  label="Calibration"
                  mode="org.integratedmodelling.klab.ide.klabCalibration">
            </contextLabel>
            <contextLabel
                  label="Test Case"
                  mode="org.integratedmodelling.klab.ide.klabTest">
            </contextLabel>
         </contextualLaunch>
         <enablement>
            <or>
               <instanceof
                     value="org.integratedmodelling.klab.ide.navigator.model.EScript">
               </instanceof>
               <instanceof
                     value="org.integratedmodelling.klab.ide.navigator.model.ETestCase">
               </instanceof>
            </or></enablement>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.integratedmodelling.klab.ide.navigator.model.ENavigatorItem"
            class="org.integratedmodelling.klab.ide.KlabAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.ui.ide.IGotoMarker">
         </adapter>
         <adapter
               type="org.eclipse.emf.ecore.EObject">
         </adapter>
      </factory>
   </extension>
	<!-- <extension
  		point="org.eclipse.mylyn.commons.notifications.ui.notifications">
	<event
    	categoryId="org.eclipse.mylyn.builds.ui.category.Builds"
    	id="klab.event"
    	label="k.LAB event"
    	selected="true"
    	>
    	<defaultHandler
      	sinkId="org.eclipse.mylyn.commons.notifications.sink.Popup">
    	</defaultHandler>
  	</event>
</extension>  -->
</plugin>
