/**
 * Interface contextualizers for the morphometry functionalities in JGrasstools / Horton machine.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.geomorphology

export concept classifier
	"Classifies each cell into the numeric category of the containing geological form using 
	 the Geomorphon algorithm."
	 label 'Classify terrain morphology'
{
	import number elevation
		"A DEM observation to classify"
		
	optional input threshold 
		"Flatness threshold in meters. If unspecified it is chosen to match the radius in a square 
		 context." 
		default 0.0
		
	optional input radius
		"Search radius in m. Represents the scaling of the point of view; large values can be used to
		 mimic far points of view or for very flat areas. If unspecified, it is set to 1/100th of the
		 diagonal of the bounding box."
		default 0.0
		
	class org.integratedmodelling.geoprocessing.morphology.GeomorphonResolver
}
