/**
 * Interface contextualizers for the morphometry functionalities in JGrasstools / Horton machine.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.hydrology

contextualizer fillsinks
	"Fills any hydrological sink in a DEM observation, producing a hydrologically corrected DEM."
{
	// TODO import elevation

	class org.integratedmodelling.geoprocessing.hydrology.HydrologicallyCorrectedElevationResolver
}

contextualizer flowdirections
	"Import a hydrologically corrected DEM and produce flow directions using configurable methods. For now
	 only D8 is supported."
{
	optional input angles
		"If true, angles are computed as output instead of integer flow direction codes per D8 conventions."
		default false

	// TODO import hydrologically_corrected_elevation

	class org.integratedmodelling.geoprocessing.hydrology.FlowDirectionsResolver
}

contextualizer flowaccumulation
	"Import a hydrologically corrected DEM and produce flow directions using configurable methods. For now
	 only D8 is supported."
{
	optional input cells
		"If true, number of contributing cells is output instead of actual contributing area."
		default false

	// TODO import flow_directions_d8

	class org.integratedmodelling.geoprocessing.hydrology.FlowAccumulationResolver
}

contextualizer streamnetwork
	"Extracts the stream network as a raster indicating presence of a stream, using a cutoff threshold
	 on the percentage of drainage cells."
{
	optional input 'tca.threshold'
		"The percent of the total basin drainage that makes a cell part of a stream. A default is chosen
		 adaptively; defaults are unlikely to work in delta areas or any other difficult context."
		default 0.0

	// TODO import upstream_cell_count

	class org.integratedmodelling.geoprocessing.hydrology.StreamNetworkResolver
}