/**
 * This file defines the contract for functions compiled by the runtime into dataflow calls. These
 * are normally not seen by users.
 */
@klab 0.10.0
@version 0.10.0
@namespace klab.runtime.dereifiers

export number 'distance'
	"Return a dereifying resolver turning a countable artifact into a spatial distance coverage"
	label 'Compute distance from features'
{
	import object artifact
		"The artifact being dereified"
	
	text 'unit'
		"The length unit in which we want the distance"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.dereifiers.DistanceResolver
}

export boolean 'presence'
	"Return a dereifying resolver turning a countable artifact into a presence coverage"
	label 'Compute presence of features'
{
	import object artifact
		"The artifact being dereified"
	
	class org.integratedmodelling.klab.components.runtime.contextualizers.dereifiers.PresenceResolver
}

export number density
	"Return a dereifying resolver turning a countable artifact into a density coverage"
	label 'Compute density of features'
{
	import object artifact
		"The artifact being dereified"
	
	text 'unit'
		"The areal or volume unit on which we want the density distributed"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.dereifiers.DensityResolver
}