/**
 * This file defines the contract for functions compiled by the runtime into dataflow calls. These
 * are normally not seen by users.
 */
@klab 0.10.0
@version 0.10.0
@namespace klab.runtime

export value exec
	"Return an appropriate contextualizer for an expression."
	label 'Evaluate'
{
	
	text code
		"The code to be executed"
		
	value arguments 
		"The artifacts referred to in the code"	
		
	optional text ifcondition 
		"A condition to check before executing the code" 
		default ""

	optional text unlesscondition 
		"A negative conditions to check before executing the code" 
		default ""

	optional text language 
		"The language of the expression" 
		default "groovy"
		
	class org.integratedmodelling.klab.components.runtime.contextualizers.ExpressionResolver

}

export value literal
	"Return a mediating resolver that wraps a state into another with compatible, but 
	 different value semantics"
	 label '$val'
{
	
	object val
		"The value to be contextualized"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.LiteralStateResolver

}

export number convert
	"Return a contextualizer for a literal value"
	label 'Convert $from to $to'
{
	
	object 'from'
		"The value mediator (unit, range, currency) describing the source values"

	object 'to'
		"The value mediator (unit, range, currency) describing the target values"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.ConversionResolver

}

export concept classify
	"Return a state contextualizer that classifies its input into a concept"
	label 'Classify input'
{
	
	object classification
		"A classification stated in k.IM or built from a trait, class or metadata property"

	class org.integratedmodelling.klab.components.runtime.contextualizers.ClassifyingStateResolver

}

export value lookup
	"Return a state contextualizer that classifies its inputs using a lookup table"
	label 'Look up in table'
{
	
	object table
		"A table stated in k.IM"

	value arguments 
		"A set of arguments to match to the columns of the table"

	class org.integratedmodelling.klab.components.runtime.contextualizers.LookupStateResolver

}

export value resolve
	"Return a resolver for a URN-specified resource"
	label 'Extract data from URN'
{
	
	text urn
		"The URN pointing to the resource to be resolved and retrieved"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.UrnResolver
}

export object instantiate
	"Return an instantiator for a URN-specified resource"
	label 'Extract objects from URN'
{
	
	text urn
		"The URN pointing to the resource to be resolved and retrieved"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.UrnInstantiator

}

export value cast
	"Return a state resolver that will convert a value from a type to another"
	label 'Transform $source to $destination'
{
	
	// TODO make this an enum
	text source
		"The source type of the value"

	// TODO make this an enum
	text destination
		"The destination type of the value"
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.CastingStateResolver
}

export value conditional
	"Wrap a function call that produces a contextualizer, created only if the passed condition evaluates to true."
{
	
	text condition
		"The condition for the contextualizer to be returned."
				
	class org.integratedmodelling.klab.components.runtime.contextualizers.wrappers.ConditionalContextualizer
}