@klab 0.10.0
@version 0.10.0
@namespace tables.compiler

value pairwise
	"Custom table compiler for pairwise comparisons"
{
	class 'org.integratedmodelling.klab.documentation.extensions.table.compilers.PairwiseTableCompiler'
}

value additionsreductions
	"Custom table compiler for addition-reduction"
{
	class 'org.integratedmodelling.klab.documentation.extensions.table.compilers.AdditionReductionTableCompiler'
}
