@klab 0.10.0
@version 0.10.0
@namespace klab.data

export number normalize 
	"" 
	label "Normalize input to [0,1]"
{
	
	import number artifact 
		"The artifact to normalize"
		
	class org.integratedmodelling.klab.data.transformations.NormalizingTransformation
}

export number standardize 
	"" 
	label "Standardize input"
{
	
	import number artifact 
		"The artifact to standardize"
		
	class org.integratedmodelling.klab.data.transformations.StandardizingTransformation
}