@klab 0.10.0
@version 0.10.0
@namespace klab.data

filter number normalize 
	"" 
	label "Normalize"
{
	optional import number artifact 
		"The artifact to normalize. Defaults to the target artifact."
		
	class org.integratedmodelling.klab.data.transformations.NormalizingTransformation
}

filter number standardize 
	"" 
	label "Standardize"
{
	optional import number artifact 
		"The artifact to standardize. Defaults to the target artifact."
		
	class org.integratedmodelling.klab.data.transformations.StandardizingTransformation
}
