/**
 * Interface contextualizers for MCA functions.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.weka

export value bayesnet
	""
	label 'WEKA BayesNet'
{		
	// class org.integratedmodelling.ml.weka.BayesNetResolver
}

export value randomforest
	""
	label 'WEKA Random Forests'
{		
	// class org.integratedmodelling.ml.weka.BayesNetResolver
}