@klab 0.10.0
@version 0.10.0
@namespace gis.osm

object query
	"Executes Overpass queries to Open Street Maps and turns the resulting features into
     k.LAB subjects according to parameterization."
{
	
	optional input equal 
		"A list of simple query terms matched by equality, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
		
	optional input not-equal 
		"A list of simple query terms matched by inequality, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
	
	optional input matching 
		"A list of query terms to match using wildcards, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
	
	optional input not-matching 
		"A list of query terms to not match using wildcards, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
		
	optional input timeout
		"Timeout in seconds before the request is considered failed. Default is operating system
		 dependent."
		 default -1
	
	optional input feature-type
		"The (OSM or geometric) type or types of the features to collect. Pass one or more of 
	     node, way, relation, polygon, area, line or point, separating by commas if more 
         than one is desired."
	    default ""
	    
	optional input filters
		"Pass a list of specific Overpass queries. Use if the simpler operators are not enough to 
	     describe the query." 
	     default ()
	     
	optional input max-objects
		"The maximum number of objects to retrieve. By default all the available objects are used."
		default -1   
	
	optional input simplify 
		"If true, polygons returned from OSM will be simplified after query. Does not reduce network 
         transfer time or size."
		default false
		
	optional input temporal
		"If true, set the temporal extent for the retrieved features from the OSM metadata. If the
         metadata do not help, set to the temporal extent in the context."
         default false
		
	class org.integratedmodelling.klab.components.geospace.processing.osm.OSMSubjectInstantiator
}