/*
 * Parameters accepted in a raster resource
 */
 annotation raster 
	
	"" 	
 
 {
 	
 	
 	text 'fileUrl'
 		""
 		
 	optional number band
 		""
 		default 0
 
 	optional boolean 'computeBoundary'
 		""
 		default false
 }