@klab 0.10.0
@dataflow local:task:sqdyc6aper19u:trh50ko17ywdf
@author 'k.LAB resolver Sat Jun 02 14:59:26 CEST 2018'
@context local:observation:sqdyc6aper19u:ou7wu5efmylv6

number distance_to_mountain {
   number elevation {
      compute gis.terrain(roughness = 0.88, rang = 0 to 3500)
   }
   compute
     gis.features.extract(select = "elevation > 3000") as mountain,
     klab.runtime.dereifiers.distanc(target = mountain, unit = "m")
}