/*
 * Parameters accepted in a raster resource
 */
 annotation vector	

	"" 	
 
 {

 	text 'fileUrl'
 	
 	optional input 'nameAttribute'
 		""
 		default ""
 		
 	optional input sanitize
 		""
 		default false
 	
 	optional input 'computeHull'
 		""
 		default false

 	optional input 'computeUnion'
 		""
 		default false
 	
 	optional input filter
 		""
 		default ""
 }