/*
 * Parameters accepted in a raster resource
 */
 annotation wcs 	
 
	"" 	
 
 {

 	text 'serviceUrl'
 		""
 		
 	text 'wcsIdentifier'
 		""

	text 'wcsVersion'
 		""
 	
 	optional input band
 		""
 		default 0
 
 	optional input 'computeBoundary'
 		""
 		default false
 }