/**
 * This file defines the contract for all core annotations recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0

annotation cost for dependencies
	"Use to annotate a dependency as a cost criterion. The value, if passed, can be a single numeric weight or a map of 
	 stakeholder type to weight."
{
	optional value 'value'
		""
	
	optional number preference-threshold 
		""
		
	optional number veto 
		""
		
	optional number indifference-threshold	
		""
}

annotation benefit for dependencies
	"Use to annotate a dependency as a benefit criterion. The value, if passed, can be a single numeric weight or a map of 
	 stakeholder type to weight."
{
	optional value 'value'
		""
	optional number preference-threshold 
		""
		
	optional number veto 
		""
		
	optional number indifference-threshold	
		""
}

annotation stakeholder for dependencies
	"Use to annotate a dependency as a stakeholder type. The inferred weight type (value of _criterion_type_ for assessment 
	 of _output_type_) will be observed in each stakeholder."
{
}

annotation alternative for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation concordance for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation discordance for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation credibility for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}