/**
 * This file defines the contract for all core annotations recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0

annotation cost for dependencies
	"Cost criteria use a weight to express the relative negative impact of each criterion. The value, if passed, can be a single numeric 
	 weight or a map of stakeholder type to weight. Values are only used for comparison and their absolute value is irrelevant."
	 label "Cost criteria"
{
	optional value 'value'
		"The weight of the criterion. Higher weight means this criterion has a more negative impact on the decision."
		label 'Weight'
	
	optional number preference-threshold 
		""
		
	optional number veto 
		""
		
	optional number indifference-threshold	
		""
}

annotation benefit for dependencies
	"Benefit criteria use a weight to express the relative positive impact of each criterion. The value, if passed, can be a single numeric 
	 weight or a map of stakeholder type to weight. Values are only used for comparison and their absolute value is irrelevant."
	 label "Benefit criteria"
{
	optional value 'value'
		"The weight of the criterion. Higher weight means this criterion has a more positive impact on the decision."
		label 'Weight'

	optional number preference-threshold 
		""
		
	optional number veto 
		""
		
	optional number indifference-threshold	
		""
}

annotation criterion for dependencies
	"Spatial layer representing one variable included in the OWA indicator"
{
	optional number 'relweight'
		"The weight of the criterion, represents the importance of the variable compared to the others, and could
		be set to 0 in case it is not wanted to include the variable in the analysis"
		label 'rel_weight'
}


annotation stakeholder for dependencies
	"Use to annotate a dependency as a stakeholder type. The inferred weight type (value of _criterion_type_ for assessment 
	 of _output_type_) will be observed in each stakeholder."
{
}

annotation alternative for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation concordance for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation discordance for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}

annotation credibility for dependencies
	"Use to annotate the artifact to use to provide alternatives when the model produces a ranked set of the same objects."
{
}