.mc-report-content {
  background-color: #fff;
  padding: 2em;
}
.mc-report-content h1,
.mc-report-content h2,
.mc-report-content h3,
.mc-report-content h4,
.mc-report-content h5,
.mc-report-content h6 {
  font-weight: bold;
  color:   rgb(17, 170, 187);
}

.mc-report-content h1 {
  font-size: 2em;
  margin: 0.6em 0;
}
.mc-report-content h2 {
  font-size: 1.8em;
  margin: 0.5em 0;
}
.mc-report-content h3 {
  font-size: 1.6em;
  margin: 0.4em 0;
}
.mc-report-content h4 {
  font-size: 1.4em;
  margin: 0.3em 0;
}
.mc-report-content h5 {
  font-size: 1.2em;
  margin: 0.2em 0;
}
.mc-report-content h6 {
  font-size: 1.1em;
  margin: 0.1em 0;
}
.mc-report-content table {
  border-spacing: 10px 5px;
}
.mc-report-content p {
  text-align: justify;
}