@klab 0.10.0
@version 0.10.0
@namespace credentials

void set
	"Call with <authentication method> <hostname[:port]> <parameters> to add credentials for an external host.\n
	     The parameters depend on the authentication method and should be one of the following:\n
	      - basic: <hostname[:port]> <username> <password>\n
	      - oidc: <hostname[:port]> <grant_type> <client_id> <client_secrets> <provider_id>\n
	      - key: <hostname[:port]> <key>"
{
	class org.integratedmodelling.klab.cli.commands.credentials.Set
}