@klab 0.10.0
@version 0.10.0
@namespace credentials

void set
	"Call with <scheme> <hostname[:port]> <parameters> to add credentials for an external host.\n
	     The parameters depend on the authentication method and should be one of the following:\n
	      - basic: <username> <password>\n
	      - oidc: <grant_type> <client_id> <client_secrets> <provider_id>\n
	      - key: <key>"
{
	optional text scheme
		"Authentication method. It has to be one of the following: basic, oidc, key."

	optional text url
		"URL of the service used to obtain the credentials."

	optional text id
		"Identifier of the credentials. If not provided, it will be extracted from the URL."

	optional void update
		"Updates the existing credential schemes if required"

	class org.integratedmodelling.klab.cli.commands.credentials.Set
}