@klab 0.10.0
@version 0.10.0
@namespace credentials

void set
	"Call with <hostname[:port]> <username> <password> to add credentials for an external host."
{
	class org.integratedmodelling.klab.cli.commands.credentials.Set
}