/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace project

// create ID
// delete ID
// list 
// list ID

void create
	"Create new projects in the local workspace."
{
	class org.integratedmodelling.klab.cli.commands.project.Create
}

void 'list'
	"List the projects in the local workspace."
{
	optional boolean verbose
		"Verbose output: list resource details"
		default false
		
	class org.integratedmodelling.klab.cli.commands.project.List
}