@klab 0.10.0
@version 0.10.0
@namespace assert

boolean exists 
	""
{
	list target	
		"" 
		
	class org.integratedmodelling.klab.components.testing.assertions.AssertExists
}

boolean nodata 
	""
{
	list target

	class org.integratedmodelling.klab.components.testing.assertions.AssertNodata
}

boolean 'range' 
	""
{
	list target

	class org.integratedmodelling.klab.components.testing.assertions.AssertRange
}

boolean objects 
	""
{
	list target

	class org.integratedmodelling.klab.components.testing.assertions.AssertObjects
}