/*
 * Parameters accepted in a COG resource
 */
 annotation cog	
	"The COG adapter needs a valid COG URL hosted in a remote server, which supports Range Requests making it fast, economic and requires less compute" 	
	label "COG Assets adapter" 	
 {

 	final text 'url'
 		"[REQUIRED] The URL pointing to the COG Asset"
 		
 	optional number 'band'
 		"Relevant only for raster resources.
 		 The band for a multi-band raster. Default it will pick up the first one."
 		default 0
 
 	optional enum 'bandmixer'
 		"Relevant only for raster resources.\n
 		 The operation that will merge the raster bands into a single observation.\n
 		 Restricted to the following values: max_band, min_band, max_value, min_value, avg_value and sum_value"
		values max_band, min_band, max_value, min_value, avg_value, sum_value
		default ""
 }