/*
 * Parameters accepted in a raster resource
 */
 annotation openeo // TODO 	
	"The OpenEO adapter wraps an OpenEO process call, optionally including a user-defined process definition from a JSON 
	 specification, either imported locally or as a public URL." 	
	label "OpenEO User Process adapter" 	
 {

 	final text 'serviceUrl'
 		"The URL of the service providing the data."
 		 	 		
	optional text 'processId'
		"If the resource only calls one process at server side with arguments, name the process here"

	optional number nodata
		"The no-data value for this raster. If not specified, the nodata value communicated by the WCS server is used. This should only be modified if that is wrong or missing."

	optional text 'namespace'
		"Public URL of a process definition that will be added to the namespace during contextualization"
	
	optional text 'band'
 		"The band for a multi-band raster. Default is empty."
 		default ""

 	optional enum 'bandmixer'
 		"Relevant only for raster resources.\n
 		 The operation that will merge the raster bands into a single observation.\n
 		 Restricted to the following values: max_band, min_band, max_value, min_value, avg_value and sum_value"
		values max_band, min_band, max_value, min_value, avg_value, sum_value
		default ""
 }