/*
 * Parameters accepted in a raster resource
 */
 annotation openeo // TODO 	
	"The WCS adapter is used to create WCS (Web Coverage Service) spatial coverages, supporting servers implementing version 2.0.1 of the WCS standard." 	
	label "WCS protocol adapter (OGC v2.0.1)" 	
 {

 	final text 'serviceUrl'
 		"The URL of the service providing the data."
 		
 	final text 'wcsIdentifier'
 		"The identifier of the WCS layer, including the namespace if the WCS server needs it."

	final text 'wcsVersion'
 		"The WCS version for the requests. Currently only 2.0.1 is supported as previous versions do not communicate enough information."
 	 	default "2.0.1"
 	 		
 	optional number band
 		"The band for a multi-band raster. Default is 0."
 		default 0

	optional number nodata
		"The no-data value for this raster. If not specified, the nodata value communicated by the WCS server is used. This should only be modified if that is wrong or missing."

 }