/*
 * Parameters accepted in a raster resource
 */
 annotation raster 
	"The raster adapter is used to create raster file resources. It accepts common GIS raster files such as GeoTIFF." 	
	label "GIS raster file adapter (GeoTIFF)"
 {
 	optional number band
 		""
 		default 0
 		
 	optional number nodata
		""
		default 0.0
		
	optional text bandmixer
		""
		values max_band, min_band, max_value, min_value, avg_value
		default ""
 }