/*
 * Parameters accepted in a STAC resource
 */
 annotation stac	
	"The STAC adapter names a collection in a STAC catalog and manages import in k.LAB, including aggregation of multiple timepoints if
	 context requires it." 	
	label "STAC collection adapter" 	
 {

 	final text 'collection'
 		"The URL pointing to the STAC collection file that contains the resource dataset."
 		
 	final text 'asset'
 		"The asset that is going to be retrieved from the items."
 
 	optional text 's3BucketRegion'
 		"Region of the S3 Bucket has to be defined if the assets are stored under this protocol."

 }