/*
 * Parameters accepted in a raster resource
 */
 annotation vector	
	"The vector adapter is used to create vector file resources. It accepts common GIS raster files such as ESRI shapefiles (.shp)." 	
	label "GIS vector file adapter (shapefile)"
 {

 	optional input 'nameAttribute'
 		""
 		default ""
 		
 	optional input sanitize
 		""
 		default false
 	
 	optional input 'computeHull'
 		""
 		default false

 	optional input 'computeUnion'
 		""
 		default false
 	
 	optional input filter
 		""
 		default ""
 }