/*
 * Parameters accepted in a raster resource
 */
 annotation vector	
	"The vector adapter is used to create vector file resources. It accepts common GIS raster files such as ESRI shapefiles (.shp)." 	
	label "GIS vector file adapter (shapefile)"
 {

 	optional text 'nameAttribute'
 		""
 		default ""
 		
 	optional boolean sanitize
 		""
 		default false
 	
 	optional boolean 'computeHull'
 		""
 		default false

 	optional boolean 'computeUnion'
 		""
 		default false
 	
 	optional text 'filter'
 		""
 		default ""
 }