/*
 * Parameters accepted in a raster resource
 */
 annotation wfs 	
	"The WFS adapter is used to create WFS (Web Feature Service) spatial coverages, supporting servers implementing version 1.1.0 of the WFS standard." 	
	label "WFS protocol adapter (OGC v1.1.0)" 	

 {
 	final text 'serviceUrl'
 		""
 		
 	final text 'wfsIdentifier'
 		""
 	
 	final text 'wfsVersion'
 		""
 		default "1.1.0"

 	optional text 'nameAttribute'
 		""
 		
 	optional input sanitize
 		""
 		default false
 	
 	optional input 'computeHull'
 		""
 		default false

 	optional input 'computeUnion'
 		""
 		default false
 	
 	optional text filter
 		""
 }