/*
 * Parameters accepted in a raster resource
 */
 annotation wfs 	
	"The WFS adapter is used to create WFS (Web Feature Service) spatial coverages, supporting servers implementing version 1.0.0 of the WFS standard." 	
	label "WFS protocol adapter (OGC v1.0.0)" 
 {
 	final text 'serviceUrl'
 		""
 		
 	final text 'wfsIdentifier'
 		""
 	
 	final text 'wfsVersion'
 		""
 		default "1.0.0"

 	optional text 'nameAttribute'
 		"The attribute that provides the name for objects built from this resource. If not provided, names will be built from the semantics."
 		
 	optional boolean sanitize
 		""
 		default false
 	
 	optional boolean 'computeHull'
 		""
 		default false

 	optional boolean 'computeUnion'
 		""
 		default false
 	
 	optional text 'filter'
 		""

 	optional boolean 'swapAxis'
 		"Swap the order of the XY axis of the geometry."
 		default false
 }