/**
 * This file defines the contract for all core annotations recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0

/**
 * Help
 */
void help
	"List all available commands and their options."
{
	class org.integratedmodelling.klab.clitool.console.commands.Help
}

void run
	"Run scripts from a file or URL."
{
	class org.integratedmodelling.klab.clitool.console.commands.Run
}

/**
 * Batch run: use CL parameters to enable multiple batch contexts
 */
//annotation run for observers
//	"Mark a context for batch execution, specifying the observations to be made in it."
//{
//	optional input name 
//		"A name for this run. If given, the results will be saved in a subdirectory
//        of the same name." 
//		default ""
//	
//	optional input description 
//		"A description for this run, its parameters and intended outputs."
//		default ""
//			
//	optional input observations
//		"A list of the concepts or objects to observe in the context after it is resolved."
//		default ()
//		
//	class org.integratedmodelling.klab.engine.annotations.RunHandler
//}

