/**
 * Interface contextualizers for MCA functions.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.mca

export number concordance
	"Run a concordance analysis to compute the concordance of a set of criteria variables with corresponding values from
	 observers in the context."
	 label 'MCA concordance'
{
	optional number levels
		"The number of levels to discretize continuous variables. Default is 5."
		
	class org.integratedmodelling.mca.core.ConcordanceResolver
}
