/**
 * Interface contextualizers for OWA functions.
 */
@klab 0.10.0
@version 0.10.0
@namespace im.owa 

export number owa
	"Calculates the Ordered Weighted Average of a set of observables contextualized in the scope. Takes the observables' relevance weights
	and the observer's risk profile as input parameters. The ordinal weights are determined according to the observer's risk profile. Currently
	the function is built for a specific case-study of coastal zones' vulnerability. To be generalized."
	label 'Ordered Weighted Average'
{
	import number obs1
		"First observable."
	
	import number obs2
		"Second observable."
	
	import number obs3
		"Third observable."
	
	import number obs4
		"Fourth observable."
	
	import number obs5
		"Fifth observable."				

	parameter number relevance1
		"Relevance weight of first observable."
		default = 1.0
	
	parameter number relevance2
		"Relevance weight of first observable."
		default = 1.0
		
	parameter number relevance3
		"Relevance weight of first observable."
		default = 1.0
		
	parameter number relevance4
		"Relevance weight of first observable."
		default = 1.0
		
	parameter number relevance5
		"Relevance weight of first observable."		
		default = 1.0	
	
	parameter number risk_profile
		"The observer's risk profile from -1 to 1, where negative numbers represent risk aversion."
		default = 1.0		

	class org.integratedmodelling.owa.OWAResolver
}