/**
 * This file defines the contract for all commands recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0
@namespace observation

// show: structure, provenance, network (just the ID of a configuration or a relationship concept), children, parent, siblings (with level parameter)
// data <state id> [visualize]
// summary <artifact id> [list]
// context <any obs in it> [list all]

void 'structure'
	"Show the structure graph for the named context observation."
{
	optional boolean artifacts
		"List artifact hierarchy instead of observation hierarchy"
		default false

	class org.integratedmodelling.klab.clitool.console.commands.visualization.PrintStructure
}

void 'list'
	"List the known root contexts for this session."
{
	class org.integratedmodelling.klab.clitool.console.commands.visualization.List
}