@klab 0.10.0
@version 0.10.0

annotation rdf 
	"The TABLE.RDF adapter ingest content from RDF sources using SPARQL queries."
	 label "Bridge to tabular datasources from SPARQL queries over RDF services."
{
}