@klab 0.10.0
@version 0.10.0

spatialextent space
	"Generates spatial geographical extents to use in observations or to constrain models. Parameters
	 enable the creation of single shapes using WKT and WKB notation, as well as regular grids and
	 irregular spatial tessellations with shape masks. Enumerated spaces with arbitrary authorities
	 and identities are also possible."
{
	optional concept identifier
		"An authority concept providing an view of space as a value from an enumerated list (normally
		 an authority), where each spatial tessellation is identified only by a code. Using this parameter 
		 deactivates all others and turns off almost every other spatial functionalities in k.LAB."
		 
	optional text authority
		"Authority from which to pick the concept(s) for a partially defined enumerated space. Alternative
		 to baseidentity and identifier."

	optional concept baseidentity
		"Base abstract identity from which to pick the concept(s) for a partially defined enumerated space. 
		 Alternative to identifier and authority."

	optional text shape
		"A string containing the WKT or WKB definition of a geographical shape, optionally 
		 prefixed with the EPSG projection code including the authority (the default projection
		 is 'EPSG:4326')."
	    default ""
	
	optional value grid 
		"The linear resolution of the desired grid as a number with length units. Example: 1.km. A string 
		 like '1 km' can also be passed."
		
	optional text urn
		"A URN (or a string specifying one) that will return at least one spatial object, whose
		 spatial context will be used as a return value."
		default ""
		
	optional text projection
		"A string that specify the EPSG code for a projection to use instead of the original
		 one when shapes come from a URN."
		default ""		
		
	optional number simplify
		"A distance in projection units that will force simplification of polygons and other shapes
		 by assuming that points within that distance can be ignored."
	   default 0.0
		
	class org.integratedmodelling.klab.components.geospace.services.Space
}