@namespace gis.features
@klab 0.10.0
@version 0.10.0

number extract 
	"Extract polygonal features from a raster map based on clumping of its values."
{
	optional input select
		"Pass an expression that will return true or false per each point in the spatial context, 
		 producing a mask that will be vectorized into spatial contexts for the objects. Use quality
		 dependency names to refer to their state in each point."
	    default ""
	    
	optional input simplify
		"If true, the polygons resulting from vectorization will be simplified before they are
	     returned to k.LAB."
		default false
	
//	optional input detail 
//		"The detail parameter controls the complexity of the surface. A value around 8 (default)
//       best simulates elevation. Set to 9 for a more jagged surface or less for a smoother one."
//		default 8
	
//	optional input range
//		"The range parameter controls the range of values produced. By default the values
//         range from 0 to 3000, a range that produce realistic-looking elevation profiles in
//         meters."
//		default 0 to 3000
		
	/*
	 * produces multiple 2d shapes
	 */
	geometry #s2
	
	class org.integratedmodelling.klab.components.geospace.processing.FeatureExtractor

}