@namespace gis.features
@klab 0.10.0
@version 0.10.0

export object extract 
	"Extract polygonal features from a raster map based on clumping of its values."
	label 'Vectorize into features'
{
	optional input select
		"Pass an expression that will return true or false per each point in the spatial context, 
		 producing a mask that will be vectorized into spatial contexts for the objects. Use quality
		 dependency names to refer to their state in each point."
	    default ""
	    
	optional input simplify
		"If true, the polygons resulting from vectorization will be simplified before they are
	     returned to k.LAB."
		default false
		
	optional input holes
		"If true, generated polygons may have holes in them."
		default false
		
	optional input points
		"If true, single points will be extracted as cell polygons."
		default false
	
	/*
	 * produces multiple 2d shapes
	 */
	geometry #s2
	
	class org.integratedmodelling.klab.components.geospace.processing.PolygonInstantiator

}

export object concavehull 
	"Extract one polygonal feature from a raster map based on the concave hull of all matching points."
	label 'Concave hull'
{
	optional input select
		"Pass an expression that will return true or false per each point in the spatial context, 
		 producing a mask that will be vectorized into spatial contexts for the objects. Use quality
		 dependency names to refer to their state in each point."
	    default ""
	
	class org.integratedmodelling.klab.components.geospace.processing.ConcaveHullInstantiator

}

export object concavexhull 
	"Extract one polygonal feature from a raster map based on the convex hull of all matching points."
	label 'Convex hull'
{
	optional input select
		"Pass an expression that will return true or false per each point in the spatial context, 
		 producing a mask that will be vectorized into spatial contexts for the objects. Use quality
		 dependency names to refer to their state in each point."
	    default ""
	
	class org.integratedmodelling.klab.components.geospace.processing.ConvexHullInstantiator

}