@klab 0.10.0
@version 0.10.0
@namespace gis.openbuildings

const export object query
	""
     label 'Query OpenBuildings'
{
	
	optional number threshold
		""
		 default 90

	class org.integratedmodelling.klab.components.processing.openbuildings.OpenBuildingsInstantiator
}