@klab 0.10.0
@version 0.10.0
@namespace gis.osm

const export object query
	"Executes Overpass queries to Open Street Maps and turns the resulting features into
     k.LAB subjects according to parameterization."
     label 'Query OpenStreetMap'
{
	
	optional list equal 
		"A list of simple query terms matched by equality, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR. The single wildcard '*' is allowed as a match."
		default ()
		
	optional list not-equal 
		"A list of simple query terms matched by inequality, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
	
	optional list matching 
		"A list of query terms to match using wildcards, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
	
	optional list not-matching 
		"A list of query terms to not match using wildcards, in the form <term>, <match>. Each match may be
		 a list of terms, which are in OR."
		default ()
		
	optional text conditions
		"The conditions that will define the query how the query statements are going to be filtered."
		 default ""

	optional number timeout
		"Timeout in seconds before the request is considered failed. Default is operating system
		 dependent."
		 default -1
	
	optional enum feature-type
		"The (OSM or geometric) type or types of the features to collect. Pass one or more of 
	     node, way, relation, polygon, area, line or point, separating by commas if more 
         than one is desired."
        values node, way, relation, polygon, area, line, point
	    default ""
	    
	optional list filters
		"Pass a list of specific Overpass queries. Use if the simpler operators are not enough to 
	     describe the query." 
	     default ()
	     
	optional number max-objects
		"The maximum number of objects to retrieve. By default all the available objects are used."
		default -1   
	
	optional boolean simplify 
		"If true, polygons returned from OSM will be simplified after query. Does not reduce network 
         transfer time or size."
		default false
		
	optional boolean temporal
		"If true, set the temporal extent for the retrieved features from the OSM metadata. If the
         metadata do not help, set to the temporal extent in the context."
         default false

    optional enum spatial-boundaries
        "Sets the spatial boundaries of the query. The potential values are bbox and poly, the former
         being the default value. For extremely complex polygons, poly might return a timeout."
           values bbox, poly
           default poly

	class org.integratedmodelling.klab.components.geospace.processing.osm.OSMSubjectInstantiator
}