@namespace gis
@klab 0.10.0
@version 0.10.0

const export number terrain 
	"The terrain function generates a random fractal surface that can be parameterized to
	 realistically mimic various patterns of the Earth surface, such as elevation or slope."
{
	optional number roughness
		"The roughness parameter controls the smoothness of the surface produced. Values 
	     around 0.55 (default) best simulate elevation, while rougher surfaces are best 
         for slope."
		default 0.55
	
	optional number detail 
		"The detail parameter controls the complexity of the surface. A value around 8 (default)
         best simulates elevation. Set to 9 for a more jagged surface or less for a smoother one."
		default 8
	
	optional range 'range'
		"The range parameter controls the range of values produced. By default the values
         range from 0 to 3000, a range that produce realistic-looking elevation profiles in
         meters."
		default 0 to 3000
		
	/*
	 * produces 2d grid data, init only
	 */
	geometry S2
	
	class org.integratedmodelling.klab.components.geospace.services.TerrainService

}