/**
 * Annotations that drive learning models in k.LAB
 */
@klab 0.10.0
@version 0.10.0

annotation predictor for dependencies
	""
{
	optional value 'value'
		""
		
	optional list discretization
		""
	
	optional text id
		""
		
	optional number weight
		""
}

annotation archetype for dependencies
	""
{
	optional concept weight
		"If specified, defines the observable of a quality to use as weight for each instance created from
		 the archetype. Instance weights are used by Weka in ways that depend on the classifier chosen."
}
