/**
 * Annotations that drive learning models in k.LAB
 */
@klab 0.10.0
@version 0.10.0

annotation predictor for dependencies
	""
{
	optional value 'value'
		""
		
	optional list discretization
		""
	
	optional text id
		""
}

annotation archetype for dependencies
	""
{
	optional value 'value'
		""
}
