/**
 * This file defines the contract for all core annotations recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0

annotation explanatory for dependencies
	""
{
	optional value 'value'
		""
}

annotation independent for dependencies
	""
{
	optional value 'value'
		""
}

annotation classifier for dependencies
	""
{
}

annotation veto for models
	""
{
	optional value 'value'
		""
}

annotation strong for models
	""
{
	optional value 'value'
		""
}

annotation weak for models
	""
{
	optional value 'value'
		""
}
