/**
 * This file defines the contract for the services in k.IM that bridge to machine learning
 * functionalities. Most of these wrap functionalities provided by WEKA.
 */
@klab 0.10.0
@version 0.10.0
@namespace network

export object random
	"Instantiator for random networks.

	## TODO Markdown docs."
{
	
	concept type
		"The semantics for the relationships being instantiated"
		
	number p
		"The parameter that defines the network being created. Its 
         meaning changes according to the method."	
		
	optional input sourcetype 
		"Semantics for the type of the subjects used as source for the relationships"
		default observation:Subject

	optional input targettype 
		"Semantics for the type of the subjects used as target for the relationships"
		default observation:Subject

	optional input space 
		"Type of spatial link to create if the vertices are spatial and distinct. Default is none.
	     Possible values are None, LineCentroid, LineEdge, ConvexHull."
	     default "None"
	     
	optional input route
		"If passed, a network of the passed type is looked up (or created) and the subjects 
  		 are routed through it to create the connection."
         default observation:Relationship
	     
	optional input selfconnections
		"If true, self-connections are created. Default is false"
		default false

	optional input method 
		"The method to use to create the random network. Choose between BarabasiAlbert, EppsteinPowerLaw, 
		 ErdosRenyi, Lattice2D (restricted to grid space contexts) and KleinbergSmallWorld. If relationship
	 	 is unidirectional, only ErdosRenyi is supported.
		 ## TODO Markdown documentation
		" 
		default "ErdosRenyi"
		
	class org.integratedmodelling.klab.components.network.services.RandomInstantiator

}
