/**
 * This file defines the contract for the services in k.IM that create and operate on networks.
 */
@klab 0.10.0
@version 0.10.0
@namespace klab.networks

export object connect
	"Connects subjects by building relationships using configurable deterministic or stochastic methods. Each 
	 relationship can optionally be assigned a spatial context connecting the space of the related subjects 
	 with configurable methods."
{		
	optional number p
		"The parameter that defines the network being created. Its meaning changes according to the method. If the
		selector expression is passed, this defaults to 1.0."	
		
	optional input select
		"An expression evaluated per each legitimate pair of objects to be connected, returning true or false. If
		 false is returned, the relationship will not be created. The variables 'source' and 'target' are set to
		 the objects to be linked."
	    default ""	
		
	optional text source
		"Artifact providing the source for the relationships. By default all artifacts that incarnate the 
		 relationship source type are used."

	optional text target
		"Artifact providing the target for the relationships. By default all artifacts that incarnate the 
		 relationship target type are used."

	optional input space
		"Type of spatial link to create if the vertices are spatial and distinct.
	     Possible values are None, Line, LineCentroid, LineEdge, ConvexHull. Default is ConvexHull
	     if the source and target are polygonal, Line if they are points, and None if they are 
	     non-spatial."
	     default "None"
	     
	optional number seed
		"The random number seed. By default each generation will use a different one."     
	     
	optional input selfconnections
		"If true, self-connections can be created. Default is false"
		default false

	optional boolean reciprocal
		"If true, A->B does not prevent B->A from being created. Default false. Forced to false
		 if the annotated concept is a bond."

	optional input method 
		"The method to use to create the random network. Choose between OutDegree, BarabasiAlbert, EppsteinPowerLaw, 
		 ErdosRenyi, Lattice2D and KleinbergSmallWorld (the last two restricted to grid space contexts).
		 ## TODO Markdown documentation
		" 
		default "ErdosRenyi"
		
	class org.integratedmodelling.klab.components.network.services.ConfigurableRelationshipInstantiator

}

export object route 
	"Connects subjects through routes computed along a specified spatial configuration. Relationships are only
	 created if a route exists."
{
	optional input source
		"Semantics for the type of the subjects used as source for the relationships"
		default ""

	optional input target
		"Semantics for the type of the subjects used as target for the relationships"
		default ""

//	TODO configuration to use 

	class org.integratedmodelling.klab.components.network.services.RoutingRelationshipInstantiator

}
