/**
 * This file defines the contract for all core annotations recognized in k.IM. Those with a
 * 'class' specification also have handlers that perform specific tasks when the annotations
 * are encountered.
 */
@klab 0.10.0
@version 0.10.0


/**
 * Reference or define colormaps. Examples:
 *load colormap and if needed, adjust to values
 *    @colormap('elevation')
 * specify value breaks, interpolate colors
 *    @colormap(breaks = {0: (3,4,5), 100: (3,4,5), 300: (3,4,5), 2399: (3,4,5), 4599: (3,4,5)}, interpolate=true)
 * specific values -> specific color (allow concepts, ranges, numbers and truth values)
 *    @colormap(values = {im:Low: (2,3,4), im:High: (23,3,22)})
 *    @colormap(values = {0 to 10: (2,3,4), 10 to 222: (23,3,22), *: (33, 2, 22)})
 * build map to match actual values to ramp
 *    @colormap(colors = ((0,0,0) (1,2,3)))
 */
annotation colormap
	"Create or define a color map to use to display the result of the annotated model or any observation of
	 the annotated concept. Used primarily in visualization of spatial grids, but could have other uses."
{
	optional input 'value'
		"The name of a color map defined externally (as a SLD file), a predefined (ColorBrewer) map, or a 
		 define instruction." 
		default ""
		
	optional input breaks
		""
		default {}

	optional input 'values'
		""
		default {}

	optional input colors
		""
		default ()

	optional input continuous
		""
		default true
}

